body{
    background: url("https://th.bing.com/th/id/OIP.3xBhDra-57Xwcjs0UXWS2QAAAA?w=326&h=182&c=7&r=0&o=5&pid=1.7");
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-size: 50px;
    
}


#topic{
    color: red;
    margin-left: 10%;
    font-size: x-large;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

li{
    color:aqua;
    margin-left: 12%;
}
marquee{

    width: 450px;
    margin-left: 375px;
}